h1,
p {
  padding: 20px;
}

img {
  opacity: 0.4;
}

container {
  position: relative;
}

body {
  background-image: url("forestbridge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
