
.bulletpoints{

list-style-type: square;

}
 

.forest {
   position: absolute;
   height: 100%;
   width: 100%;
   display: flex;
 
   background-image: url("https://www.w3schools.com/w3images/forestbridge.jpg");
   background-size: cover;
 }

p{
   margin: 0;
    
}

h3{
 font: size 50px;
 font-style: italic;
 letter-spacing: 1px;
 }

img{
        
    border-radius: 4px;
    height: 50px;
    width: 50px;   
    padding: 5px;
      
}


  .bordered{
         border-style: solid;
      border-width: 0px 6px 0px 0px;
      border-color: #000000;
  }

.alignr{
   text-align: right;
}

.progress {
   background: rgb(21, 173, 54);
   position: fixed;
   top: 0;
   bottom: auto;
   left: 0;
   width: 0%;
   height: 5px;
   z-index: 1000;
}

button{
border-style: groove;
border-radius: 2px;
 background-color:rgb(21, 173, 54);
}



.companies {
   color: rgb(65, 81, 173);
font-weight: bold;
padding: 15px;
}




.navigation{
text-align: center;
background-color: rgb(21, 173, 54);
color: white;
margin-top: 4px;
padding: 5px ;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 4px;


}

